---
---

@charset "utf-8";

// For "Portfolio" section images

#portfolio .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#portfolio .row.no-gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#portfolio [class*="col-"] {
    padding: 0 !important;
}

#portfolio {
    background-color: #1f1f1f;
}

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
