  <aside class="bg-dark" id="cv">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>You want to see my full CV?</h2>
              <a href="cv/CV_Thomas_Chambon_French.pdf" class="btn btn-default btn-xl wow tada" style="margin-bottom: 5px;" aria-label="Thomas Chambon's CV in french" target="_blank" rel="noreferrer">Download it! (In French)</a><br>
              <a href="cv/resume_Thomas_Chambon.pdf" class="btn btn-default btn-xl wow tada" aria-label="Thomas Chambon's CV in english" target="_blank" rel="noreferrer">Download it! (In English)</a>
          </div>
      </div>
  </aside>
