<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, I'm Thomas Chambon</h1>
            <hr>
            <p>
            <strong>
                AI scientist with 5 years of experience in Deep Learning, Computer Vision, and NLP. Focused on
                advancing natural language processing and optimizing deep neural network architectures. Strong
                background in deploying AI models to production (PyTorch, Docker, HPC) and in applied research,
                with publications in international conferences. Comprehensive mastery of the AI project lifecycle,
                from R&D to industrialization.
            </strong>
            </p>
            <img class="img-circle" alt="Thomas Chambon" src="img/Thomas-Chambon.webp" style="margin-bottom: 10px;"/><br>
            <a href="#contact" aria-label="Button to contact section" class="btn btn-primary btn-xl page-scroll">Contact Me!</a>
        </div>
    </div>
</header>
