<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I have a PhD in computer science and am currently a post-doc in computer vision.
    During my thesis, I worked on the impact of information transmitted to the user and its influence on the evolution of his behavior.
    I'm interested in computer vision, data analysis and open-source software development. I would like to put these skills at the service of a research team.">
    <meta name="author" content="Thomas Chambon">
    <meta name="google-site-verification" content="aJ0C5sk0hx26Sbnn6PH5M67sdbtELEtYPuHAdstvIms" />

    <title>Thomas Chambon's website</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&display=swap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/fontawesome.min.css" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/solid.min.css" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/brands.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">

</head>
