<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, I'm Thomas Chambon</h1>
            <hr>
            <p>
            <strong>
                I have a PhD in computer science and am currently a post-doc in computer vision.<br>
                During my thesis, I worked on the impact of information transmitted to the user and its influence on the evolution of his behavior.<br>
                I'm interested in improving image segmentation using community detection methods (Louvain Method, SBM) in graphs, but also with dedicated neural networks (GNN).
            </strong>
            </p>
            <img class="img-circle" alt="Thomas Chambon" src="img/Thomas-Chambon.webp" style="margin-bottom: 10px;"/><br>
            <a href="#contact" aria-label="Button to contact section" class="btn btn-primary btn-xl page-scroll">Contact Me!</a>
        </div>
    </div>
</header>
