<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://projet-ecomob.fr/" class="portfolio-box" aria-label="Link to Ecomob project page" target="_blank" rel="noreferrer">
                    <img src="img/portfolio/ecomob.jpg" class="img-responsive" alt="Ecomob project">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research
                            </div>
                            <div class="project-name">
                                Ecomob Project
                                <p>In the context of sustainable mobility, how can information have an impact on user behaviour?</p>
                                <p>PhD student on the project</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=mUxkWWNbedc" class="portfolio-box" aria-label="Link to Ecomob project video presentation" target="_blank" rel="noreferrer">
                    <img src="img/portfolio/ecomob_video.jpg" class="img-responsive" alt="Video presentation of ecomob project">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Scientific communication
                            </div>
                            <div class="project-name">
                                Presentation video of my research work in the ECOMOB project with Ulysse Soulat
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://dai.ly/x7xnpbc" class="portfolio-box" aria-label="Link to my film for FFPTS2020" target="_blank" rel="noreferrer">
                    <img src="img/portfolio/ffpts.png" class="img-responsive" alt="FFPTS2020">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Scientific communication
                            </div>
                            <div class="project-name">
                                FFPTS 2020
                                <p>Popular science film festival</p>
                                <p>Scriptwriting and shooting of a short film</p>
                                Click to view the short!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" target="_blank" rel="noreferrer">
                    <img src="img/portfolio/segmentation.jpg" class="img-responsive" alt="Graph for image segmentation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research
                            </div>
                            <div class="project-name">
                                Improving Image segmentation with graphs
                                <p>Evaluation of different community detection methods, consensus methods and graph neural network methods</p>
                                <p>Post-doctoral position on this project</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://sifdoctorants21.sciencesconf.org/" class="portfolio-box" aria-label="Link to PhD seminar of the French computer science society" target="_blank" rel="noreferrer">
                    <img src="img/portfolio/seminar.jpg" class="img-responsive" alt="PhD seminar of the French computer science society">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Scientific conference
                            </div>
                            <div class="project-name">
                                Société informatique de France 2021 doctoral students' seminar
                                <p>National event for France's young researchers in computer science</p>
                                <p>Presentation of my thesis work</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://pfia2024.univ-lr.fr/" class="portfolio-box" aria-label="Link to PFIA conference 2024" target="_blank" rel="noreferrer">
                    <img src="img/portfolio/pfia.png" class="img-responsive" alt="PFIA2024">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Other
                            </div>
                            <div class="project-name">
                                PFIA 2024
                                <p>French conferences on AI</p>
                                <p>Member of the organizing committee in charge of sponsorship and website</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
