<section class="bg-primary" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Publications</h2>
                <hr class="light">
                <p class="text-faded">
                    <ul class="fa-ul">
                        <li>
                            <b>2024:</b>T. Chambon, U. Soulat, J. Lallement, and J. Guillaume, “L'effet de la complexité visuelle de l'information sur l'intention et le comportement de mobilité urbaine” in INFORSID 2024 (Nancy)<br>
                            <a href="https://hal.science/hal-04649625v1" class="text-faded" target="_blank" rel="noreferrer">Available here!</a>
                        </li>
                    </ul>
                    <ul class="fa-ul">
                        <li>
                            <b>2023:</b> Mesure des effets de la complexité de l’information sur les intentions et les comportements de mobilité urbaine : Construction d’un outil d’aide au changement de comportement. <b>THESIS</b><br>
                            <a href="https://theses.hal.science/tel-04446437" class="text-faded" target="_blank" rel="noreferrer">Available here!</a>
                        </li>
                    </ul>

                    <ul class="fa-ul">
                        <li>
                            <b>2023:</b> T. Chambon, J.-L. Guillaume, and J. Lallement, “Information complexity ranking: A new method of ranking images by algorithmic complexity” Entropy, vol. 25, no. 3. <b>(SJR Q2 / IF 2.1)</b><br>
                            <a href="https://www.mdpi.com/1099-4300/25/3/439" class="text-faded" target="_blank" rel="noreferrer">Available here!</a>
                        </li>
                    </ul>
                    <ul class="fa-ul">
                        <li>
                            <b>2023:</b>T. Chambon, U. Soulat, J. Lallement, and J. Guillaume, “The effect of visual information complexity on urban mobility intention and behavior” in RCIS 2023, Proceedings. <b>(CORE ranking B)</b><br>
                            <a href="https://link.springer.com/chapter/10.1007/978-3-031-33080-3_27" class="text-faded" target="_blank" rel="noreferrer">Available here!</a>
                        </li>
                    </ul>
                </p>
                <a href="https://scholar.google.com/citations?user=dh0zgF0AAAAJ&hl=fr&oi=ao" class="btn btn-default btn-xl" target="_blank" rel="noreferrer">Visit my Google Scholar profile</a>
            </div>
        </div>
    </div>
</section>
